/cmis-141/HeadPhone/nbproject/private/
/cmis-141/HeadPhone/build/
/cmis-141/HeadPhone/dist/
/cmis-141/Keyboard/nbproject/private/
/cmis-141/Keyboard/build/
/cmis-141/StateBirdAndFlower/nbproject/private/
/cmis-141/StateBirdAndFlower/build/